@import "tailwindcss";

@theme {
  /* colors */
  --color-navy-blue: #10107B;
  --color-primary: #7848F4;
  --color-lightWhite:#FFFFFF66;
  --color-bgGrey:#F8F8FA;
  --color-pgray:#7E7E7E;
  --color-ashGray:#C5C5C5;

  /* Typography */
  --text-big-heading: 36px;
  --text-heading: 24px;
  --text-sub-heading: 18px;
  --text-body-text: 16px;
  --text-paragraph: 12px;
  --text-label: 10px;
  
}